

.card {
    border-radius: 10px;
}


.d-flex.justify-content-center.align-items-center.min-vh-100.bg-light {
 
    background-color: transparent !important;

 
    background-image:
        linear-gradient(rgba(245, 245, 245, 0.80), rgba(245, 245, 245, 0.80)),
        url('/img/ranger.png'),
        url('/img/mustang.png'),
        url('/img/territory.png'),
        url('/img/broncoSport.png');

  
    background-position:
        center center,
        top 8% left 8%,     
        top 8% right 8%,   
        bottom 8% left 8%,  
        bottom 8% right 8%; 

    
    background-size:
        cover,      
        25% auto,   
        25% auto,   
        25% auto,   
        25% auto; 

    background-repeat: no-repeat;
    background-attachment: fixed;
}


.card.p-5.shadow-sm {
    background-color: #ffffff; 
    z-index: 1; 
    position: relative; 
}


@media (max-width: 768px) {
    .d-flex.justify-content-center.align-items-center.min-vh-100.bg-light {
        background-image:
            linear-gradient(rgba(245, 245, 245, 0.90), rgba(245, 245, 245, 0.90)), 
            url('/img/ranger.png');
        background-position: center center;
        background-size: cover;
        background-attachment: scroll; 
    }
}
